body{
    background-color:black;
}


/* 박스 한개라도 만들어보려고 했는데..

... 죄송합니다...
.Thumbnail_Item {
    
    display: flex;
    width: 276px;
    height: 247px;
    padding-bottom: 0px;
}

.Images {
    width: 276px;
    height: 155px;
}

.Image 1 {
    Copy
    width: 276px;
    height: 155px;
}

.VideoTime {
    width: 276px;
    height: 155px;
}
*/