html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

.thumbnail_info > .desc {
    width: 100%;
}

.thumbnail_info > .desc > .title{
    width: 100%;
    color: #f1f1f1;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
 		
}

.thumbnail_info > .desc > .chanel_name{
    width: 100%;
    color: #aaa;

}

.thumbnail_info > .desc > .view_time{
    color: #aaa;
}


                


.user_avatar {
    margin-right: 12px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.thumbnail_info {
    padding-top: 12px;
    display: flex;

}


.images > img {
    height: auto;
    width: 100%;
    border-radius: 2%;
}
.container_thumbnail {
    height: 100%;

}

.row {
    display: flex;
}

.thumbnail_item {
    margin: 8px;
    width: 32%;
}

