html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    color: #f1f1f1;
} 




.videoplayer {
    width: 100%;
    padding-bottom: 10px;
}

.videoplayer > div {
    width: 100%;
    padding-top: 56.25%;
    background-color: blue;
}

.video-title {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 600;
    color: #f1f1f1;
    font-family: "YouTube Sans","Roboto",sans-serif;
}


.info-container {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.views-info > p {
    padding: 5px;
}


.info-container > .thumb-info{
    padding-right: 20px;
}

.info-container > .thumb-info {
    padding: 0 20px;
}

.info-container > .thumb-info > p{
    padding: 10px;
}

.userphoto {
    padding-left: 10px;
}

.userphoto > img {
    width: 4rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 70%;
}


.info-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.info-container > p{
   color: #aaa; 
}


.channel-container {
    padding-top: 10px;
    display: flex;
}


.video-desc-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}

.channel-info > span {

    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 600;
    color: #f1f1f1;
}


.followers_number {
    color: #aaa; 
}


.subscribe-container > button {
    border-radius: 5px 5px 5px 5px; 
    padding: 5px 15px;
    margin-right: 20px;
    font-size: 1.7rem;
    border: none;
    background-color: red;
    color: #f1f1f1;
}


.subscribe-container > button:hover {
    /* 호버 효과 스타일 */
    background-color: rgba(255, 0, 0, 0.829);
    color: #f1f1f1;
}

.edge-line {
    margin: 10px 10px;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.10);
}
/* #aaa */



.Comment{
    padding: 24px 0px 32px 0px;   
}

.short-by{
    display: inline-flex;
    padding: 1px 32px 1px 0px;
    align-items: flex-start;
}



.video-comment-info {
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.comment-count{
    padding: 0 5px;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.comment-label {
    padding: 0 5px;
}

.sort-icon {
    padding-left: 20px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.sort-label{
    padding: 0 10px;
}


.small > img {
    width: 48px;
    height: 48px;
}


.comment-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.comment-input{
    display: flex;
    flex-direction: column;
    
    flex: 1 0 auto;
    justify-content: flex-start;
     
}

.comment-input > textarea {
    

    background-color: transparent;
    outline: none; 
    border:none;
    resize: none;
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 


    position: relative;
    box-sizing: border-box;   
    margin: 0 20px ;
    cursor: text;
    /* padding-bottom: 4px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    font-size: 100%; /* 1 */
    vertical-align: baseline; /* 3 */
    
    /* vertical-align: middle;  */
}
/* 
.comment-list-container {
    
} */


.comment-item-info-container {
    padding-left: 10px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.comment-item {
    display: flex;
    padding-top: 10px;
}
.comment-like-info {
    display: flex;
    align-items: center;
}

.comment-like-info > p {
    padding: 0 10px;
    
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */


}
.comment-like-info > spans {
    padding: 0 10px;
}


/* .comment-content {
    
} */

.comment-date {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.text{
    padding: 10px 0px 10px 0px;
}

/* .comment-input{

} */